{% extends "base.html" %} {% load static %}
{% block content %}
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About Us</h3>  
                </div>
            </div><!-- end title -->
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
					<p>Our mission at Career Specs is to empower students with the knowledge and tools they need to make well-informed decisions about their future. We believe that every student has unique talents and interests, and it's our goal to help them discover and nurture these talents to pursue a fulfilling career.</p>
					<br>
                    <p>The Stream Analysis System aims to simplify and streamline the process of choosing a suitable academic stream for 12th-grade students. By utilizing user information, conducting assessments, and providing course and college recommendations,the system empowers students to make well-informed decisions about their academic and career paths. </p>  
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../static/images/about1.jpg" alt="" class="img-fluid img-rounded" style=" border:2px solid black;border-radius: 10px; box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../static/images/about4.jpg" alt="" class="img-fluid img-rounded" style=" border:2px solid black;border-radius: 10px; box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5); height:55vh">
                    </div><!-- end media -->
                </div><!-- end col -->
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <p>Our team consists of experienced career counselors and educators who are dedicated to helping students navigate the complex landscape of career choices. With our expertise and personalized approach, we ensure that students receive the guidance they need to make informed decisions about their future.</p>
						<br>
						<p>We utilize a comprehensive assessment process that takes into account various factors such as academic performance, interests, skills, and aspirations. This holistic approach ensures that our recommendations are tailored to each student's unique profile.</p>   
                    </div><!-- end messagebox -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	<div class="hmv-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12" >
					<div class="inner-hmv" style=" border:4px solid grey;border-radius: 10px; box-shadow: 15px 15px 5px rgba(61, 76, 72, 0.5);display: flex;flex-direction: column;justify-content: center;">
						<h3 style="text-align: center;min-width: 10vw;"><img src="/static/images/about2.png" style="width: 20vw; aspect-ratio: 4/3;"></h3>
						<div class="tr-pa"></div>
						<h2 style="-webkit-text-fill-color:maroon;text-shadow: 1px 1px 2px maroon;">Cutomized Test For You!</h2>
						<p>Our platform provides a personalized MCQ (Multiple Choice Questions) test designed to assess various aspects of a student's aptitude, interests, and skills. Based on the test results, we offer recommendations for suitable career streams aligned with the student's strengths and preferences.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv" style=" border:4px solid grey;border-radius: 10px; box-shadow: 15px 15px 5px rgba(61, 76, 72, 0.5);">
						<h3 style="text-align: center;min-width: 10vw;"><img src="/static/images/about3.png" style="width: 20vw; aspect-ratio: 4/3;"></h3>
						<div class="tr-pa"></div>
						<h2 style="-webkit-text-fill-color:maroon;text-shadow: 1px 1px 2px maroon;">Pursue Top-Notch Course</h2>
						<p>We offer personalized career guidance tailored to each student's interests, skills, and aspirations. Our platform utilizes a comprehensive assessment process to understand the individual preferences of each student, ensuring that the career recommendations are accurate and relevant.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv" style=" border:4px solid grey;border-radius: 10px; box-shadow: 15px 15px 5px rgba(61, 76, 72, 0.5);">
						<h3 style="text-align: center;min-width: 10vw;"><img src="/static/images/college_about.png" style="width: 20vw; aspect-ratio: 4/3;"></h3>
						<div class="tr-pa"></div>
							<h2 style="-webkit-text-fill-color:maroon;text-shadow: 1px 1px 2px maroon;">Recommend College</h2>
							<p>Once the MCQ test is completed, we provide personalized suggestions for career streams that align with the student's interests and strengths. Additionally, we offer recommendations for colleges and educational institutions that offer programs relevant to the selected career streams.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}