{% extends "base.html" %} {% load static %}
{% block content %}
<style>
	.team-img{
		aspect-ratio: 1/1;
	}
	.team-img img{
		aspect-ratio: 1/1;
	}
	.our-team .social{
		background: rgba(47, 79, 79, 0.5);
	}
</style>
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/nu_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/nirmauni/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/NirmaUniOfficial/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:ar.im@nirmauni.ac.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://nirmauni.ac.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Nirma University</h3>
							
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/gu_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/gujarat_university/" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/gujaratuniversityofficialpage/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:registrar@gujaratuniversity.ac.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://gujaratuniversity.ac.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Gujarat University</h3>
							
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/au_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/ahmedabad_university/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/AhmedabadUniversity/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:info@ahduni.edu.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://ahduni.edu.in/?utm_source=gmb&utm_medium=gmb-listing&utm_campaign=gmb-ahmedabad-university" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Ahmedabad University</h3>
							
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/indus_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/indus_university_ahmedabad/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/TheIndusUni/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:registrar@indusuni.ac.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://indusuni.ac.in/home.php" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Indus University</h3>
							
						</div>
					</div>
				</div>
				
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/gls_clg.jpg" >
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/glsuniversity/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/GLSuniversity/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:inquiry@glsuniversity.ac.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://www.glsuniversity.ac.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">GLS University</h3>
							
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/jg_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/explore/locations/107477010764219/jg-university/" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/JGUnIIndia/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:connect@jguni.in" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://www.glsuniversity.ac.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">JG University</h3>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/lj_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/ljuniversity_/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/lokjagrutiuniversity/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:info.ljimc@gmail.com" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://www.ljku.edu.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">LJ University</h3>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="../static/images/ku_clg.png">
							<div class="social">
								<ul>
									<li><a href="https://www.instagram.com/karnavati.uni/?hl=en" class="fa-brands fa-instagram fa-xl"></a></li>
									<li><a href="https://www.facebook.com/Karnavati.Uni/" class="fa-brands fa-facebook fa-xl"></a></li>
									<li><a href="mailto:info@karnavatiuniversity.com" class="fa-solid fa-envelope fa-xl"></a></li>
									<li><a href="https://karnavatiuniversity.edu.in/" class="fa-solid fa-globe fa-xl"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">Karnavati University</h3>
							
						</div>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
