{% extends 'base.html' %} {% load static %}
{% block content%}
<!-- section -->
<div class="section layout_padding contact_section" style="background:#f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="full float-right_img" style="text-align: center;display: flex;text-align: center;
                display: flex;
                flex-direction: column;
                align-content: space-around;
                justify-content: space-around;
                flex-wrap: wrap;
                height: 80vh;
            }">
                    <h1 style="-webkit-text-fill-color: black;font-weight:2em; padding-bottom:2px; text-align: center;font-family: 'Times New Roman', Times, serif;">-: CONTACT DETAILS :-</h1>
                    <img src="{% static 'images/contact-wallpaper.jpg' %}" alt="contact-wallpaper" style="border-radius: 7px;box-shadow: 15px 15px 5px  rgb(43, 82, 93,.7);width:47vw; margin-bottom: 10vh;">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact_form" style="background-color:transparent;box-shadow: none;">
                    <form method="POST" action="" onsubmit="alert('Thank you for contacting us. We will contact you back soon.')">
                        {% csrf_token %}
                        <fieldset>
                            <div class="full field">
                                <input type="text" required placeholder="Your Name" name="cName" style="background: transparent; border-bottom: 2px solid sienna;" pattern="[a-z]+" title="Only lowercase alphabets are allowed." maxlength="20"/>
                            </div>
                            <div class="full field">
                                <input type="email" required placeholder="Email Address" name="cEmail" style="background: transparent;border-bottom: 2px solid sienna; " pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />
                            </div>
                            <div class="full field">
                                <input type="numbers" required maxlength="10" minlength="10" placeholder="Phone Number" name="cPhone" style="background: transparent; border-bottom: 2px solid sienna;"  pattern="[789][0-9]{9}"  title="Only 10 Numeric Digits allowed which must be start with 7,8 0r 9."  />
                            </div>
                            <div class="full field">
                                <textarea id="feedback-textarea" placeholder="Message" style="background: transparent; border-bottom: 2px solid sienna;"></textarea>
                                <input style="display: none;" required id="feedback-input" type="text" name="cMsg" />
                            </div>
                            <div class="full field">
                                <div class="center"><button style="border-bottom: 2px solid sienna; ">SEND</button></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setInterval(function() {
        document.getElementById("feedback-input").value = document.getElementById("feedback-textarea").value
    }, 100);
</script>
{% endblock %}