{% extends "base.html" %} {% load static %}
{% block content %}
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
					<h3 style="color:darkgoldenrod">TRENDING COURSES</h3>
                </div>
            </div><!-- end title -->

            <hr class="invis"> 

            <div class="row"> 
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_1.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Engineering</a></h2>
							</div>
							<div class="course-desc">
								<p>Engineering is a dynamic and innovative field that involves applying scientific principles and technical knowledge to design, create, and improve systems, structures, and processes that benefit society.Engineers play a crucial role in solving complex problems and addressing challenges in various industries, from developing infrastructure to advancing technologies.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_2.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Hotel Management</a></h2>
							</div>
							<div class="blog-desc">
								<p>Hotel management involves overseeing the day-to-day operations of hotels, resorts, and other lodging establishments to ensure a seamless guest experience. Professionals in this field handle various aspects, including front desk operations, housekeeping, food and beverage services, event management, and facility maintenance.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->	
				
				<div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_3.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Biotechnology</a></h2>
							</div>
							<div class="course-desc">
								<p>Biotechnology is a rapidly advancing field at the intersection of biology and technology, aimed at harnessing living organisms and biological systems to develop innovative products and solutions. It encompasses a wide range of applications, including genetic engineering, pharmaceuticals, agriculture, environmental remediation, and industrial processes. </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->			
			
			<hr class="hr3"> 
			
            <div class="row"> 
				<div class="col-lg-4 col-md-6 col-12">
                   <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_4.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Medical Sciences</a></h2>
							</div>
							<div class="course-desc">
								<p>Medical science is a vast field encompassing the study of human health, diseases, diagnosis, treatment, and prevention. It involves understanding the intricacies of the human body, from the molecular and cellular levels to organ systems and overall physiology. </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_5.jpg" alt="" class="img-fluid">
						</div>		
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Finance</a></h2>
							</div>
							<div class="course-desc">
								<p>Finance is the study of how individuals, businesses, and governments manage money, investments, and financial resources over time. It encompasses a wide range of activities, including budgeting, investing, borrowing, lending, and risk management. </p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="../static/images/blog_6.jpg" alt="" class="img-fluid">
						</div>
						<div class="course-br" style=" border: 1px solid black;">
							<div class="course-title">
								<h2 style="color:darkgoldenrod">Fashion Designing</a></h2>
							</div>
							<div class="course-desc">
								<p>Fashion design is a dynamic and creative field that involves the creation of clothing and accessories, blending artistic vision with technical skills. Fashion designers conceptualize and develop original designs, taking inspiration from diverse sources such as art & culture.</p>
							</div>	
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div>
						</div>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
