{% extends "base.html" %} {% load static %}
<!-- Start Banner -->
{% block content %}
<style>
	.hover-btn-new::after{
		background-color: white !important ;
	}
	.big-tagline a.hover-btn-new::before{
		background-color: darkslategray !important;
	}
	.message-box a.hover-btn-new::before, .message-box a.hover-btn-new::after{
		background-color: white !important;
	}
	.message-box a.hover-btn-new::after{
		background: darkslategray !important;
	}
</style>
	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleControls" data-slide-to="1"></li>
			<li data-target="#carouselExampleControls" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('../static/images/slider1.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2 style="text-shadow: 1px 1px 2px darkgoldenrod"><strong>INTRODUCING CAREER SPECS</strong></h2>
										<p class="lead">Your Bridge to Success, Waiting for you... </p>
											<a href="{% url 'terms' %}" class="hover-btn-new orange"><span>Give Exam</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="{% url 'contact' %}" class="hover-btn-new orange"><span>Contact Us</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('../static/images/slider2.png');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-left">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight" style="text-shadow: 1px 1px 2px darkgoldenrod"><strong>Career Specs</strong></h2>
										<p class="lead" data-animation="animated fadeInLeft">Discover Your Path, Define Your Future </p>
											<a href="{% url 'terms' %}" class="hover-btn-new orange"><span>Give Exam</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="{% url 'contact' %}" class="hover-btn-new orange"><span>Contact Us</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('../static/images/slider3.jpg');">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-center">
									<div class="big-tagline">
										<h2 data-animation="animated zoomInRight" style="text-shadow: 1px 1px 2px darkgoldenrod"><strong>Career Specs</strong></h2>
										<p class="lead" data-animation="animated fadeInLeft">Navigating Careers, Building Tomorrow</p>
											<a href="{% url 'terms' %}" class="hover-btn-new orange"><span>Give Exam</span></a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="{% url 'contact' %}" class="hover-btn-new orange"><span>Contact Us</span></a>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
			<!-- Left Control -->
			<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!-- Right Control -->
			<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="fa fa-angle-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
<!--About Section Starts-->	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
					<div class="message-box" style="margin-top:2px;">
                    	<h4  style="font-size:2em;">Welcome to CareerSpecs</h4>
					</div>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
						<h2>Get Started Today</h2>
						<br>
						<p>Ready to embark on your journey towards a rewarding career? Sign up now and take the first step towards discovering your true potential. At CareerSpecs, we're committed to helping you achieve your goals and aspirations.</p>
						<p>At CareerSpecs, excellence is at the core of everything we do. We're committed to providing our users with a seamless and rewarding experience, from the moment they sign up to the moment they achieve their career goals. We're constantly striving to improve and innovate, so we can continue to meet the evolving needs of our users and exceed their expectations.</p>

                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../static/images/about1.jpg" alt="" class="img-fluid img-rounded" style=" border:2px solid black;border-radius: 10px; box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="../static/images/about4.jpg" alt="" class="img-fluid img-rounded" style=" border:2px solid black;border-radius: 10px; box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>VISION</h2>
						<br>
                        <p>Our ultimate destination for helping students make informed decisions about their career paths after completing their 12th grade education. At CareerSpecs, we understand the importance of choosing the right career path, and we're here to guide you every step of the way</p>
						<p>Ready to take the next step towards a brighter future? Join our community today and unlock a world of possibilities. Whether you're a high school student exploring career options or a parent looking to support your child's journey, we're here to help. Join us on this exciting adventure, and let's shape the future together.</p>

                        <a href="{% url 'about' %}" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
<!--HISTROYY-->
    <section class="section lb page-section" style="background-color:moccasin">
		<div class="container">
			 <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3 style="color:maroon">How It Works ?</h3>
                </div>
            </div><!-- end title -->
			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content_odd timeline__content img-bg-01">
								<h2 style="color:black">Sign Up</h2>
								<p style="color:maroon">Create an account on our platform to access personalized career guidance and resources.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content_even timeline__content img-bg-02">
								<h2 style="color:black">Take Assessments</h2>
								<p style="color:maroon">Complete our comprehensive assessments and quizzes to identify your interests, strengths, and career preferences.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content_odd timeline__content img-bg-03">
								<h2 style="color:black">Explore Career Paths</h2>
								<p style="color:maroon">Explore a variety of career paths based on your assessment results, and learn more about the educational requirements, job prospects, and salary potential associated with each field.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content_even timeline__content img-bg-04">
								<h2 style="color:black">Get College Recommendations</h2>
								<p style="color:maroon">Discover colleges and educational institutions that offer programs relevant to your chosen career path, and explore admission requirements, campus life, and more.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content_odd timeline__content img-bg-01">
								<h2 style="color:black">Start Your Journey</h2>
								<p style="color:maroon">Armed with knowledge and insights, take the first step towards your dream career with confidence and clarity.</p>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--HISTROYY ends-->
{% endblock %}